$plum: #453659;
$lightPlum: #8C4A6F;
$coral: #F25E6B;
$lightCoral: #F2766B;
$yellow: #f2b885;
$lightYellow: #e9d6c9;
$darkBlue: #2c3e50;
$red: #e74c3c;
$lightGrey: #CACACA;


$mobile: '320px';
$tablet: '600px';
$small: '960px';
$medium: '1280px';

